# .gitignore
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# 必须忽略的配置和状态文件
configs/config.yaml
configs/cookies.json

# 忽略临时媒体文件
data/*
!data/temp_workspace/.gitkeep

logs/
*.mp4
*.mkv
*.m4a
*.srt
*.ass
*.vtt
